
<% provide(:title, 'All Ads') %>
<h1>All Ads</h1>
<%if current_user.role != 'admin' %>
  <%= will_paginate %>

  <ul class="users">
    <%= render @ads %>
  </ul>

  <%= will_paginate %>
<%else%>
  <% if @ads.where(stage: "pending").size > 0 %>
    <%= form_with url: update_multiple_ads_url, method: :patch do %>

      <h1>Pending</h1>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th data-sort-ignore="true">
              Choose
              <input type="checkbox" id="selectAll">
            </th>
            <th>Title</th>
            <th>Author</th>
            <th>Status</th>
            <th>More...</th>
          </tr>
        </thead>
        <tbody>
          <%@ads.where(stage: "pending").each do |ad| %>
            <tr>
              <td>
                <%= check_box_tag  "ad_ids[]", ad.id, false, class: 'selectable' %>
              </td>
              <td>
                <%= ad.name%>
              </td>
              <td>
                <%= ad.user.name %>
              </td>
              <td>
                <%= ad.stage %>
              </td>
              <td>
                <%= link_to "More...", ad%>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
      <div style="display:flex; text-align: center; justify-content: center;">
        <%= submit_tag "Approve", name: :stage, value: :published, class: "btn btn-primary" %>
        <%= button_to "To Pending",  reject_multiple_ads_path, method: :patch%>
      </div>
      <div id="modal-window" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content"></div>
        </div>
      </div>
    <%end%>
  <%end%>

  <% if @ads.where(stage: "published").size > 0 %>
    <%= form_with url: destroy_multiple_ads_path, method: :delete do %>

      <h1>Published</h1>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th data-sort-ignore="true">
              Choose
            </th>
            <th>Title</th>
            <th>Author</th>
            <th>Status</th>
            <th>More...</th>
          </tr>
        </thead>
        <tbody>
          <%@ads.where(stage: "published").each do |ad| %>
            <tr>
              <td>
                <%= check_box_tag  "ad_ids[]",ad.id, false, class: 'selectable' %>
              </td>
              <td>
                <%= ad.name%>
              </td>
              <td>
                <%= ad.user.name %>
              </td>
              <td>
                <%= ad.stage %>
              </td>
              <td>
                <%= link_to "More...", ad%>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
      <div style="display:flex; text-align: center; justify-content: center;">
        <%= submit_tag "Delete selected", class: "btn btn-primary" %>
      </div>
    <%end%>
  <%end%>
<%end%>
<script>
    $(function() {
        $("#selectAll").select_all();
    });
</script>