<% provide(:title, 'All Ads') %>
<h1>All Ads</h1>
<%if current_user.role != 'admin' %>
  <%= will_paginate %>

  <ul class="users">
    <%= render @ads %>
  </ul>

  <%= will_paginate %>
<%else%>
  <h1>Pending</h1>
  <table style="width:100%;">
    <tr>
      <th>
        Choose
        <input type="checkbox" style="align:center; " id="checkAll">
      </th>
      <th>Title</th>
      <th>Author</th>
      <th>Status</th>
      <th>More...</th>
    </tr>
    <%@ads.where(stage: ["pending", "published"]).each do |ad| %>
      <tr>
        <td>
          <input type="checkbox" name="checkUser" id="simple_check" value=ad.id />
        </td>
        <td>
          <%= ad.name %>
        </td>
        <td>
          <%= ad.user.name %>
        </td>
        <td>
          <%= ad.stage %>
        </td>
        <td>
          <%= link_to "More...", ad%>
        </td>
      </tr>
    <%end %>
  </table>
  <div style="display:flex; text-align: center; justify-content: center;">
    <%= button_to "Approve"%>
    <%= button_to "Reject"%>
  </div>

  <h1>Published</h1>
  <table style="width:100%;">
    <tr>
      <th>
        Choose
        <input type="checkbox" style="align:center; " id="checkAll">
      </th>
      <th>Title</th>
      <th>Author</th>
      <th>Status</th>
      <th>More...</th>
    </tr>
    <%@ads.where(stage: ["pending", "published"]).each do |ad| %>
      <tr>
        <td>
          <input type="checkbox" name="checkUser" id="simple_check" value=ad.id />
        </td>
        <td>
          <%= ad.name %>
        </td>
        <td>
          <%= ad.user.name %>
        </td>
        <td>
          <%= ad.stage %>
        </td>
        <td>
          <%= link_to "More...", ad%>
        </td>
      </tr>
    <%end %>
  </table>
  <div style="display:flex; text-align: center; justify-content: center;">
    <%= button_to "Delete"%>
  </div>
<%end%>
<script>
    $("#checkAll").change(function () {
        $('input[id="simple_check"]').prop('checked', this.checked);
    });
</script>