<% provide(:title, @ad.name) %>
<div class="row">
  <section class="center">
    <h1>
      <%= @ad.name %>
    </h1>

    <div>
      <%if @ad.stage == "published" %>
        <div style="display:flex; text-align: center; justify-content: center;">
          <%@ad.tags.each do |tag|%>
            <div style="margin: 5px; border: 3px solid #1b6d85; border-radius: 10px">
              <h2 style="margin: 3px; text-align: center; justify-content: center;">
                <%=tag.name %>
              </h2>
            </div>
          <%end %>
        </div>

      <%end%>
    </div>

    <h2>
      <%= @ad.description %>
    </h2>
    <div type="container">
      <% @ad.photos.each do |photo| %>
        <%= image_tag photo.thumb.url %>
      <% end %>
    </div>
    <h2>
      <%= @ad.user.name %>
    </h2>
  </section>
</div>