<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">

      <%= link_to "ads app", root_path, id: "logo", class: "navbar-brand" %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">

          <li class="nav-item">
            <%= link_to "Home",    ads_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Help",    help_path, class: "nav-link" %>
          </li>
          <%if logged_in? %>
            <li class="nav-item">
              <%= link_to "Users", users_path, class: "nav-link"%>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%if current_user.role != "admin" %>
                    <%= link_to "My Ads", current_user, class: "dropdown-item" %>
                    <%= link_to "Tags", tags_path, class: "dropdown-item" %>
                <%end %>
                <%= link_to "Settings", edit_user_path(current_user), class: "dropdown-item" %>
                <hr class="dropdown-divider">
                <%= link_to "Log out", logout_path, method: "delete", class: "dropdown-item" %>
              </div>
            </li>
          <%else%>
            <li><%= link_to "Log in", login_path, class: "nav-link" %></li>
          <%end%>
        </ul>
      </div>
    </div>
  </nav>
</header>